@*@model IEnumerable<Agent>*@
@model List<Agent>



@{
    ViewData["Title"] = "Agent list";
}


<div class="container">


    <div class="text-center">
        <header class="text-center container py-5 mb-4 mt-5" style="background-color: #9fafca ">
            <div class="container">
                <h1 class="fw-light text-dark">Agent List</h1>
            </div>
        </header>

        <div class="container mb-4">
            <div class="row mb-4">
                @foreach (var agentitem in Model)
                {


                    <div class="col-xl-12 col-md-6">
                        <div class="card shadow mb-2">
                            <img class="card-img-top mx-auto" style="width:300px; height:300px;" src="~/images/person-icon.png" alt=Agent>
                            <div class="card-body text-center">
                                <h3 class="card-title mb-0">@agentitem.AgtFirstName @agentitem.AgtLastName</h3>
                                <h5 class="card-text text-black-50">Phone: @agentitem.AgtBusPhone</h5>
                                <h5 class="card-text text-black-50">Email: @agentitem.AgtEmail</h5>
                                <h5 class="card-text text-black-50">Position: @agentitem.AgtPosition</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            <br />

        </div>

        @*<div class="table-responsive">
            <table class="table table-bordered table-striped table-sm table-hover">
                <thead style="background-color: #0e387a" class="text-white">
                    <tr>
                        <th>Agent Name</th>
                        <th>Agent Phone Number</th>
                        <th>Agent Email</th>
                        <th>Agent Location</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var agentitem in Model)
                    {
                        <tr>
                            <td>@agentitem.AgtLastName @agentitem.AgtFirstName</td>
                            <td>@agentitem.AgtBusPhone</td>
                            <td>@agentitem.AgtEmail</td>
                            <td>@agentitem.AgtPosition</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
    </div>
</div>